body {
    background-image:url("./images/highway.png");
    background-repeat:repeat;
    background-size: cover;
}
.contain-1 {
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

table {
    border-collapse: separate;
    border-spacing: 0 3px;
  }